body { background-image: url(zdj/koloseum.jpg);
background-position: left;
background-repeat: repeat-y;
background-size: 150px; 
margin-left: 160px;
margin-top: 20px; }
#nazwa { font-size: 30px;
color: #C0C0C0;
font-family: Arial;
line-height: 5 px;
font-style: bold;
text-align: center; }
img { width: 200px; 
height: 300px; 
border-style: solid; 
color: blue; }
p { text-align: justify; 
font-size: 16px; }
img:hover { border-style: solid;
color: red; }
button { width: 100px;
text-decoration: none;}
#ajaxy { text-align: center; }